* {
  font-family: roboto, sans-serif;
  font-size: 1rem;
}
.img-impl {
  /* option
  al */
  background-image: url("img/muammarzaki.JPG");
  background-size: auto;
  border-radius: 50%;
  min-height: 200px;
  min-width: 200px;
  max-width: 400px;
  max-height: 400px;
}
.card {
  border-radius: 23px;
  background: #e0e0e0;
  box-shadow: -8px 8px 16px #b1b1b1, 8px -8px 16px #ffffff;
}
.img-icon {
  height: 64px;
  width: 64px;
}

.baris-3 {
  display: flex;
  justify-content: center;
}
.center-h {
  display: flex;
  justify-content: center;
}

.programmer-language-uses {
  margin-top: 20px;
  /* padding: 10px; */
  /* background-color: rgb(238, 241, 245); */
}
@media (min-width: 1025px) {
  .programmer-language-uses {
    margin-top: 100px;
    /* padding: 10px; */
    /* background-color: rgb(238, 241, 245); */
  }
  .baris-1 > *,
  .baris-2 > * {
    font-size: 5rem;
  }
  .desk-name {
    font-size: 100px;
  }
}
